*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fondoportada{
    width: 700px;
    height: 300px;
    background-image: linear-gradient(to right,#3A86FF,#8338ec,#F40579 ); /* Cambia los colores de inicio y fin según tus preferencias */
    position: absolute;
    display: flex;
    margin-top: 20px;
    z-index: 9;
    overflow: hidden;
    border-radius: 25px;
    

}


#portada h1{
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 50px

}

/*!import le sa prioridad al codigo*/
.active {
    color: #d7e6ff !important;
    font-size: x-large !important;
    text-decoration: underline !important;
    text-underline-offset: 0.4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
    
  }


body{
    font-family: verdana;
    font-size: larger;
    background-color: #FFFFFF;
}
.wrap{
    background-color: #FFFFFF;
    max-height: 690px;
    overflow: hidden;
}


ul.tabs{
    list-style: none;
    display:flex ;
    background-color: #464646;
    width: 100%;
    height: 80px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    

}

ul.tabs li{
    width: 100%;
}

ul.tabs li a{
    color: white;
    text-decoration: none;
    font-size: large;
    display: block;
    text-align: center;
    padding: 20px 0px;
}


/*-----------------------------------Secciones y tabs-----------------------------------------*/
.secciones{
    width: 100%;
     
}

.secciones article{
    padding: 20px;
    text-align: justify;

        
}


.secciones article h1{
    text-align: center;
     
}



/*-------------------------------Mapa, Puntos y Lineas------------------------- */
#mapa * {
    fill:#BBBBBB !important;
    position: absolute !important;
}

#contenedor {
    position: relative;
    top: 200px; /* ajusta la posición verticalmente */
    left: 100px; /* ajusta la posición horizontalmente */
    z-index: 7;
    display: flex;
    flex-wrap: wrap;
    
}

  
svg {
display: block;
margin: 20px auto;
width: 90%;
height: 670px;
}

#chart{
    position: absolute;
    width: 601.91;
}


/*-----------------------------------Mapa y Puntos----------------------------- */

/*---------------------------------COLORES DE LOS PUNTOS------------------------*/
.top{
    position: absolute !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F40579;
    margin:5px;
   
}

.top::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F40579;
    box-shadow: 0 0 0 5px rgba(244, 5, 121, 0.5);
    display: flex;
    align-items: center;
}


.mid{
    position: absolute !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3A86FF;
    margin:5px;
   
}

.mid::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3A86FF;
    box-shadow: 0 0 0 5px rgba(5, 81, 244, 0.5);
    display: flex;
    align-items: center;
}

.low{
    position: absolute !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8338ec;
    margin:5px;
   
}

.low::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8338ec;
    box-shadow: 0 0 0 5px rgba(220, 5, 244, 0.5);
    display: flex;
    align-items: center;
}
/*---------------------------------COLORES DE LOS PUNTOS------------------------*/

/*---------------------------------COLORES DE LAS ESTRELLAS------------------------*/



.estrella1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #3A86FF;
  }




.estrella2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #8338ec;
}

.estrella3 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #F40579;
}


/*---------------------------------COLORES DE LAS ESTRELLAS------------------------*/



#tab1{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}


/*----------------------------------------Boton---------------------------------- */

.active-button{
    background-color: #FF69AA;
}

.categorias{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 7;
    margin-left: auto;
}


.icono{
    width: 30px;
    align-items: center;
    line-height: 1 !important;
}

.categorias button:hover{
    background-color: #FF69AA;
}

.categorias button{
    background-color: #F40579;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 60px !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 17PX;
    margin-left: 1250px;

}


.categorias button{
    height: 30px;
    width: 100px;
}


/*-------------------------------------------------Boton---------------------------------- */

/*------------------------------------------------DEGRADDO---------------------------------------*/
.barra {
    width: 200px;
    height: 10px;
    background-image: linear-gradient(to right,#3A86FF,#8338ec,#F40579 ); /* Cambia los colores de inicio y fin según tus preferencias */
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 570px;
    margin-left:650px;
    border-radius: 50px;
    z-index: 9;
}


.parada {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3A86FF;
    position: absolute;
    margin-top:-57px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;


  }
  .parada::before{
    content: attr(data-text);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 12px;

  }
  .parada:nth-child(2) {
    left: 33.33%;
    background-color: #8338ec;
  }
  
  .parada:nth-child(3) {
    left: 66.67%;
    background-color: #F40579;
  }

/*------------------------------DEGRADDO----------------------*/

.mapa-mundi{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    align-content: center;
    z-index: 1;
    
}

/*-------------------pal ejemplo nomas-------------------------*/
